.body {
    margin: 0;
    padding: 0;
}

#title {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Rammetto One', cursive;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

div[class^="tbox-"] {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: mediumpurple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class^="box"] {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background: linear-gradient(#6495ED, #4169E1);
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#star {
    width: 80px;
    height: 80px;
}

#star-box {
    background: white;
}

/* The div that the button is in. */
.button-div {
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px 1fr;
}

div[class*="-box"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-box-left {
    height: 200px;
    grid-column: 1/2;
}

.left-button-box {
    grid-column: 2/3;
}

.middle-button-box {
    grid-column: 3/4;
}

.right-button-box {
    grid-column: 4/5;
}

.empty-right-box {
    grid-column: 5/6;
}

/* The button for random number */
.start-button {
    width: 70px;
    height: 30px;
}

.no-button, .yes-button {
    width: 70px;
    height: 30px;
    display: none;
}





