.body {
    margin: 0;
    padding: 0;
}

#title {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Rammetto One', cursive;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-gap: 10px;
}

div[class^="tbox-"] {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: mediumpurple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class^="box"] {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background: linear-gradient(#6495ED, #4169E1);
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#star {
    width: 80px;
    height: 80px;
}

#star-box {
    background: white;
}

/* The div that the button is in. */
.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The button for random number */
.random-number-button {
    margin-top: 20px;
    width: 70px;
    height: 30px;
}
